VITE_SUPABASE_URL=https://hglvfiexyerckalqtbhh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnbHZmaWV4eWVyY2thbHF0YmhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzAzNzk0ODAsImV4cCI6MTk4NTk1NTQ4MH0.aOH1C5f9iAcMlLZrdJ9VhPW0GVrP0-JPflZmBNlQDiA